@media only screen and (max-width: 1450px){
    .container{
        .main{
            &__front-image{
                height: 400px;
            }
            &__title{
                top: 287px;
            }
            &__arrow{
                margin-bottom: 0;
                &:hover{
                    margin-bottom: 40%;
                }
            }
        }
    }
}