*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    .image{
        position: absolute;
        width: 100vw;
        height: 100vh;
        // filter: brightness(70%);
        z-index: -1;
    }
    .image--sahara{
        background-image: url(../img/sahara-img1.jpg);
        background-size: cover;
    }
    .header{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        .header__logo{
            width: 50px;
            margin-left: 5%;
        }
        .header__title{
            color: rgb(202, 185, 107);
            margin-left: 1%;
        }
    }
    .main{
        width: 100%;
        display: flex;
        height: 90vh;
        align-items: center;
        .main__text{
            width: 40%;
            margin-left: 5%;
            font-size: 50px;
            color: rgb(216, 196, 18);
        }
        .main__grid-container{
            width: 60%;
            height: 90vh;
            display: grid;
            grid-template-columns: 1.2fr 1fr 0.5fr 1fr 1.2fr;
            grid-template-rows: 1fr 5fr 1fr 5fr 1fr;
            .main__desert{
                width: 100%;
                height: 100%;
                border-radius: .3em;
                position: relative;
                filter: brightness(90%);
                -webkit-box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.7);
                -moz-box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.7);
                box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.7);
                overflow: hidden;
                cursor: pointer;
                .desert__image{
                    width: 100%;
                    border-radius: .3em;
                    height: 100%;
                    transition: transform .5s ease;
                }
                .desert__image:hover{
                    transform: scale(1.2);
                }
                .desert__text{
                    position: absolute;
                    bottom: 8px;
                    left: 15px;
                    font-size: 30px;
                }
            }
            .main__desert--sahara{
                grid-row: 2/3;
                grid-column: 2/3;
            }
            .main__desert--gobi{
                grid-row: 2/3;
                grid-column: 4/5;
            }
            .main__desert--kalahari{
                grid-row: 4/5;
                grid-column: 2/3;
            }
            .main__desert--australia{
                grid-row: 4/5;
                grid-column: 4/5;
            }
        }
    }
}