*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #ece4ca;
    .container__header{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__header__title{
            padding: 1em;
            color: blue;
        }
    }
    .container__nav{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__nav__ul{
            padding: 1em;
            list-style: none;
        }
    }
    .container__main{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__main__title{
            padding: 1em;
            color: blue;
        }
        .container__main__article{
            padding: 1em;
            color: blue;
        }
    }
    .container__aside{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__aside__paragraph{
            padding: 1em;
            color: blue;
        }
    }
    .container__advertising{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__advertising__paragraph{
            padding: 1em;
            color: blue;
        }
    }
    .container__footer{
        width: 100%;
        border: solid 1px red;
        border-radius: 1em;
        background-color: #e9d594;
        margin-bottom: 1em;
        .container__footer__paragraph{
            padding: 1em;
            color: blue;
        }
    }
}

@media(min-width: 640px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr auto 1fr;
        column-gap: 1em;
        .container__header{
            grid-column: 1/-1;
            grid-row: 1/2;
        }
        .container__nav{
            grid-column: 1/-1;
            grid-row: 2/3;
            .container__nav__ul{
                display: flex;
                justify-content: space-between;
                }
        }
        .container__main{
            grid-column: 2/-1;
            grid-row: 3/4;
        }
        .container__aside{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .container__advertising{
            grid-column: 1/2;
            grid-row: 4/-1;
        }
        .container__footer{
            grid-column: 2/-1;
            grid-row: 4/-1;
        }
    }
}
@media(min-width: 1024px){
    .container{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        .container__header{
            grid-column: 1/-1;
            .container__header__title{
                color: #ff0000;
            }
        }
        .container__nav{
            grid-column: 1/2;
            grid-row: 2/4;
            .container__nav__ul{
                display: block;
            }
        }
        .container__main{
            grid-column: 2/3;
            grid-row: 2/4;
            .container__main__title, .container__main__article{
                color: #ff0000;
            }
        }
        .container__aside{
            grid-column: 3/-1;
            grid-row: 2/3;
            .container__aside__paragraph{
                color: #ff0000;
            }
        }
        .container__advertising{
            grid-column: 3/-1;
            grid-row: 3/4;
            .container__advertising__paragraph{
                color: #ff0000;
            }
        }
        .container__footer{
            grid-column: 1/-1;
            grid-row: -2/-1;
            margin-bottom: 0;
        }
    }
}
