*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    header{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        position: sticky;
        top: 0px;
        background-color: #fff;
        .logo{
            display: flex;
            align-items: center;
            margin-left: 5%;
            .logo-img{
                width: 40px;
            }
            .logo-text{
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
        .hamburger{
            display: none;
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 5%;
            #hamburger{
                width: 20px;
            }
        }
        .hamburger:focus{
            outline: none;
        }
        nav{
            width: 30%;
            margin-right: 5%;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                li{
                    padding: 8px;
                    a{
                        color: black;
                        text-decoration: none;
                        outline: none;
                    }
                }
                .active{
                    background-color: #A6D9F7;
                    border-radius: 2em;
                    animation: menu .5s;
                }
            }
        }
    }
    #front-img{
        width: 100%;
    }
}
@media (max-width:800px){
    .container{
        header{
            flex-wrap: wrap;
            .logo{
                .logo-img{
                    width: 20px;
                }
                .logo-text{
                    font-size: 20px;
                }
            }
            .hamburger{
                display: block;
            }
            nav{
                display: none;
                margin-right: 0px;
            }
            .showMenu{
                display: flex;
                width: 100%;
                position: absolute;
                top: 44px;
                background-color: #fff;
                animation: hamburgerMenu .5s ease;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                }
            }
        }
    }
}
@keyframes menu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes hamburgerMenu{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}