* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
}

.container header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  position: sticky;
  top: 0px;
  background-color: #fff;
}

.container header .logo {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.container header .logo .logo-img {
  width: 40px;
}

.container header .logo a {
  color: black;
  text-decoration: none;
}

.container header .hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5%;
}

.container header .hamburger #hamburger {
  width: 20px;
}

.container header .hamburger:focus {
  outline: none;
}

.container header nav {
  width: 30%;
  margin-right: 5%;
}

.container header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.container header nav ul li {
  padding: 8px;
}

.container header nav ul li a {
  color: black;
  text-decoration: none;
  outline: none;
}

.container header nav ul .active {
  background-color: #A6D9F7;
  border-radius: 2em;
  animation: menu .5s;
}

.container #front-img {
  width: 100%;
}

@media (max-width: 800px) {
  .container header {
    flex-wrap: wrap;
  }
  .container header .logo .logo-img {
    width: 20px;
  }
  .container header .logo .logo-text {
    font-size: 20px;
  }
  .container header .hamburger {
    display: block;
  }
  .container header nav {
    display: none;
    margin-right: 0px;
  }
  .container header .showMenu {
    display: flex;
    width: 100%;
    position: absolute;
    top: 44px;
    background-color: #fff;
    animation: hamburgerMenu .5s ease;
  }
  .container header .showMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes hamburgerMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
