*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    header{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0px;
        background-color: transparent;
        #logo{
            display: flex;
            align-items: center;
            margin-left: 10%;
            .logo-img{
                width: 40px;
            }
            a{
                color: black;
                text-decoration: none;
            }
        }
        .hamburger{
            display: none;
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 10%;
            #hamburger{
                width: 20px;
            }
        }
        .hamburger:focus{
            outline: none;
        }
        nav{
            width: 30%;
            margin-right: 10%;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                li{
                    padding: 8px;
                    background-color: #fff;
                    border-radius: 2em;
                    a{
                        color: black;
                        text-decoration: none;
                        outline: none;
                    }
                }
                .active{
                    border-radius: 2em;
                    background-color: #A6D9F7;
                    animation: menu .5s;
                }
            }
        }
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        .main-text{
            padding-left: 10%;
            h2{
                font-size: 40px;
            }
            a{
                text-decoration: none;
                color: black;
                .main-button{
                    padding: 0.5em 2em 0.5em 2em;
                    background-color: #A6D9F7;
                    border: none;
                    border-radius: 0.3em;
                    
                }
                .main-button:focus{
                    outline: none;
                }
            }
        }
        .main-img{
            height: 100vh;
        }
    }
}
@media (max-width:800px){
    .container{
        header{
            flex-wrap: wrap;
            #logo{
                .logo-img{
                    width: 20px;
                }
                .logo-text{
                    font-size: 20px;
                }
            }
            .hamburger{
                display: block;
            }
            nav{
                display: none;
                margin-right: 0px;
            }
            .showMenu{
                display: flex;
                width: 100%;
                position: absolute;
                top: 93.19px;
                background-color: #fff;
                animation: hamburgerMenu .5s ease;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                }
            }
        }
        main{
            .main-text{

            }
            .main-img{
                display: none;
            }
        }
    }
}
@keyframes menu{
    0%{
        opacity: 0;
        border-radius: 0;
    }
    100%{
        opacity: 100%;
        border-radius: 2em;
    }
}
@keyframes hamburgerMenu{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}