* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 90vh 100vh;
}

.container header {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.container header #logo {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.container header #logo .logo-img {
  width: 40px;
}

.container header #logo a {
  color: black;
  text-decoration: none;
}

.container header .hamburger {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10%;
}

.container header .hamburger #hamburger {
  width: 20px;
}

.container header .hamburger:focus {
  outline: none;
}

.container header nav {
  width: 30%;
  margin-right: 10%;
}

.container header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.container header nav ul li {
  padding: 8px;
  border-radius: 2em;
}

.container header nav ul li a {
  color: black;
  text-decoration: none;
  outline: none;
}

.container header nav ul .active {
  border-radius: 2em;
  background-color: #A6D9F7;
  animation: menu .5s;
}

.container main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/3;
}

.container main .main-text {
  padding-left: 10%;
}

.container main .main-text h2 {
  font-size: 40px;
}

.container main .main-text a {
  text-decoration: none;
  color: black;
}

.container main .main-text a .main-button {
  padding: 0.5em 2em 0.5em 2em;
  background-color: #A6D9F7;
  border: none;
  border-radius: 0.3em;
}

.container main .main-text a .main-button:focus {
  outline: none;
}

.container main .main-img {
  height: 100%;
  width: auto;
}

.container #ofert {
  width: 80vw;
  margin: auto;
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container #ofert .ofert-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.container #ofert .ofert-buttons a {
  padding: 0.5em 2em 0.5em 2em;
  border: none;
  border-radius: 15px;
  margin-bottom: 20vh;
  text-decoration: none;
  color: black;
}

.container #ofert .ofert-buttons .active {
  background-color: #A6D9F7;
}

.container #ofert .ofert-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.container #ofert .ofert-content .ofert-content1 {
  grid-row: 1/2;
  grid-column: 1/2;
  border-right: 1px solid #A6D9F7;
  border-bottom: 1px solid #A6D9F7;
}

.container #ofert .ofert-content .ofert-content1 article {
  padding: 1em;
}

.container #ofert .ofert-content .ofert-content2 {
  grid-row: 1/2;
  grid-column: 2/3;
  border-bottom: 1px solid #A6D9F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #ofert .ofert-content .ofert-content2 img {
  width: 10%;
}

.container #ofert .ofert-content .ofert-content3 {
  grid-row: 2/3;
  grid-column: 2/3;
  border-bottom: 1px solid #A6D9F7;
}

.container #ofert .ofert-content .ofert-content3 article {
  padding: 1em;
}

.container #ofert .ofert-content .ofert-content4 {
  grid-row: 2/3;
  grid-column: 1/2;
  border-right: 1px solid #A6D9F7;
  border-bottom: 1px solid #A6D9F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #ofert .ofert-content .ofert-content4 img {
  width: 10%;
}

.container #ofert .ofert-content .ofert-content5 {
  grid-row: 3/4;
  grid-column: 1/2;
  border-right: 1px solid #A6D9F7;
}

.container #ofert .ofert-content .ofert-content5 article {
  padding: 1em;
}

.container #ofert .ofert-content .ofert-content6 {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #ofert .ofert-content .ofert-content6 img {
  width: 10%;
}

@media (max-width: 800px) {
  .container header {
    flex-wrap: wrap;
  }
  .container header #logo .logo-img {
    width: 20px;
  }
  .container header #logo .logo-text {
    font-size: 20px;
  }
  .container header .hamburger {
    display: block;
  }
  .container header nav {
    display: none;
    margin-right: 0px;
  }
  .container header .showMenu {
    display: flex;
    width: 100%;
    position: absolute;
    top: 93.19px;
    background-color: #fff;
    animation: hamburgerMenu .5s ease;
  }
  .container header .showMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .container main .main-img {
    display: none;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    border-radius: 0;
  }
  100% {
    opacity: 100%;
    border-radius: 2em;
  }
}

@keyframes hamburgerMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
