*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    .header{
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        &__href{
            color: black;
            text-decoration: none;
            margin-left: 10vw;
        }
        &__title{
            font-size: 50px;
        }
        &__p-letter{
            color: #FB0000;
        }
    }
    .main{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &__container{
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
        }
        &__title{
            font-size: 40px;
            font-weight: 400;
        }
        &__under-title{
            font-size: 30px;
            margin-bottom: 10%;
            &::after{
                content: '';
                display: block;
                border: solid 1px #FB0000;
                width: 50%;
            }
        }
        &__contact-text{
            margin-bottom: 2%;
            color: black;
            text-decoration: none;
            &--last{
                margin-bottom: 20%;
            }
        }
        &__links{
            display: flex;
            justify-content: space-between;
            width: 70%;
        }
        &__href{
            text-decoration: none;
        }
        &__img-link{
            width: 91px;
        }
        &__map{
            margin-right: 10vw;
            border-radius: 1em;
            width: 50%;
        }
        &__dot{
            position: absolute;
            z-index: -1;
            &--big{
                top: -20vh;
                right: -90px;
            }
        }
    }
    .footer{
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        &__paragraph{
            margin-left: 10vw;
        }
        &__git-link{
            text-decoration: none;
            color: black;
            margin-left: 15px;
            border-bottom: solid 1px #FB0000;
        }
    }
}