*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    .bg-image{
        position: absolute;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-image: url(../img/sahara-img1.jpg);
        background-size: cover;
        filter: brightness(50%);
        transition: all .5s ease;
    }
    .bg-image--gobi{
        background-image: url(../img/gobi-img.jpg);
    }
    .bg-image--kalahari{
        background-image: url(../img/kalahari-img.jpg);
    }
    .bg-image--australia{
        background-image: url(../img/australia-img.jpg);
    }
    .header{
        height: 15vh;
        display: flex;
        align-items: center;
        .logo{
            width: 80px;
            margin: 5% 0 0 10%;
        }
    }
    .main{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .main__text{
            max-width: 35%;
            margin-left: 10%;
            color: white;
            .text__bold{
                font-size: 150px;
            }
        }
        .main__grid-container{
            display: grid;
            grid-template-columns: 320px 320px;
            grid-template-rows: 320px 320px;
            gap: 100px;
            margin-right: 10%;
            .main__desert{
                position: relative;
                border-radius: .5em;
                cursor: pointer;
                .desert__image{
                    border-radius: .5em;
                    width: 100%;
                    height: 100%;
                    filter: brightness(80%);
                }
                .desert__text{
                    position: absolute;
                    color: white;
                    max-width: 85%;
                    top: 20px;
                    left: 20px;
                    .desert__text__bold{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}