*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    main{
        justify-content: center;
        align-items: center;
        article{
            padding: 1em;
            margin: 1em;
            background-color: lightcoral;
        }
        article:nth-of-type(n+5){
            display: none;
        }
    }
    aside{
        article{
            padding: 1em;
            margin: 1em;
            background-color: lightblue;
        }
        article:nth-of-type(n+3){
            display: none;
        }
    }
    footer{
        width: 100%;
        padding: 1em;
        background-color: lightgoldenrodyellow;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px){
    .container{
        header{
            h1{
                color: lightgreen;
            }
        }
        main{
            display: flex;
            flex-wrap: wrap;
            article{
                width: 45%;
            }
            article:nth-of-type(n+5){
                display: block;
            }
            article:nth-of-type(n+7){
                display: none;
            }
        }
        aside{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            article{
                width: 45%;
            }
            article:nth-of-type(n+3){
                display: block;
            }
        }
    }
}
@media (min-width: 1068px){
    .container{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 100px auto 100px;
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            grid-column: 1/3;
            grid-row: 1/2;

        }
        main{
            grid-column: 1/2;
            grid-row: 2/3;
            article{

            }
        }
        aside{
            grid-row: 2/3;
            grid-column: 2/3;
            article{
            }
        }
        footer{
            grid-row: 3/4;
            grid-column: 1/-1;
        }
    }
}